.homePageWrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
  height:100vh;
}
.formWrapper{
  background-color: rgb(39, 38, 40);
  padding:20px;
  border-radius: 10px;
  width:400px;
  max-width:90%;
}
footer{
  position:fixed;
  bottom: 0;
  /* right:10px; */
}
footer a{
  color:rgb(41, 173, 47);
}
.inputGroup{
  display:flex;
  flex-direction: column;

}
.mainLabel{
margin-bottom: 20px;
margin-top:0;
}
.homePageLogo{
  height:80px;
  margin-bottom: 30px;
}
.inputBox{
  padding:10px;
  border-radius:5px;
  outline:none;
  border:none;
  margin-bottom:14px;
  background-color: antiquewhite;
  font-size: 16px;
  font-weight: bold;
}
.btn{
  border:none;
  padding:10px;
  border-radius:5px;
  font-size:16px;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
}
.joinBtn,.leaveBtn{
  background-color: #6f2b82;
  width:100px;
  margin-left:auto;
}
.joinBtn:hover,.leaveBtn:hover{
  background: #2b824c;
}
.createInfo{
  
  margin:0 auto;
  margin-top:20px;
}
.createNewBtn{
  color:#ab41cb;
  text-decoration: none;
  border-bottom: 1px solid #c066ed;
  transition: all 0.3s ease-in-out;
}
.createNewBtn:hover,
footer a:hover{
  color:rgb(30, 176, 213);
  border-color: #934c3a;
}
.mainWrap{
  display : grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}
.aside{
  background: #1c1e29;
  padding:16px;
  color:white;
  display:flex;
  flex-direction: column;
}
.asideInner{
  flex:1;
}
.clientList{
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  gap:20px;
}
.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName{
  margin-top:10px;
}
.logo{
  border-bottom:1px solid #302e2e;
  padding-bottom: 10px;
}
.logoImage{
width:100%;
}
.leaveBtn{
  width:100%;
  margin-top:20px;
}
.CodeMirror {
  min-height: 90vh;
  font-size:20px;
  line-height:1.6;
  padding-top:20px;
}